<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		#JSM(["jquery", "jquery.chart"])
		#JS_ENV_VAL()	
	</head>
	<body>
		<div id="hessianHostory" style="height: 400px;"></div>
    </body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/monitor/hessianHistory.js"></script>
</html>