<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="deployProcessDefinition" class="com.kintiger.platform.activitiWebEdit.action.DeployProcessDefinition"
		parent="baseAction" scope="request">
		<property name="roleservice" ref="allRoleService"></property>
	</bean>
		<bean id="allRoleService"
		class="com.kintiger.platform.activitiWebEdit.service.impl.RoleServiceImpl">
		<property name="allRoleDao" ref="allRoleDao" />
		<property name="webService" ref="webService"/>
		</bean>
	
	<bean id="allRoleDao" class="com.kintiger.platform.activitiWebEdit.dao.impl.IRoleDaoImpl" 
	parent="baseDao">
	</bean>
</beans>
