<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="roleAction" class="com.kintiger.platform.role.action.RoleAction"
		parent="baseAction" scope="request">
		<property name="roleService" ref="roleService"></property>
		<property name="dictService" ref="dictService"></property>
		
	</bean>

	<bean id="roleService"
		class="com.kintiger.platform.role.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />

	</bean>
	<bean id="roleDao" class="com.kintiger.platform.role.dao.impl.RoleDaoImpl"
		parent="baseDao"></bean>
</beans>
