<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="addressListAction" class="com.kintiger.platform.addressList.action.AddressListAction"
		parent="baseAction" scope="request">
		<property name="addressListService" ref="addressListService"></property>
		<property name="xmlFilePath">
			<value>${wfe.xml.filePath}</value>
		</property>	
	</bean>
	
	<bean id="addressListService"
		class="com.kintiger.platform.addressList.service.impl.AddressListServiceImpl">
		<property name="addressListDao" ref="addressListDao" />
	</bean>
	
	<bean id="addressListDao" class="com.kintiger.platform.addressList.dao.impl.AddressListDaoImpl"
		parent="baseDao">
	</bean>
</beans>
