<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
	         <form id="form1" action="" method="post">
			<div id="p_search" class="easyui-panel" title="查询条件"
				style="padding: 2px; background: #fafafa;" data-options="collapsible:true,iconCls:'icon-search'">
				<table width="100%" border="0" cellpadding="0" cellspacing="1">
					<tr>
    					<td class="head" noWrap>职务名称:</td> 
						<td>
							<input type="text" id="empPostName" name="empPostName" data-options="required:true"></input>
						</td>	
					</tr>	
					<tr>
    					<td class="head" noWrap>组织:</td>
    					<td><input class="easyui-numberbox" id="orgId" name="orgId" type="hidden" value="$!{orgId}">
								<input type="text" id="orgName" name="orgName" readonly value="$!{orgName}">
    							<input type="checkbox" name="bhxjFlag" id="bhxjFlag" value="C"/>包含下级
								<a class="easyui-linkbutton"  href="javascript:selectOrgTree()">组织</a>
						</td>		
    					<td class="head" noWrap>点击查询:</td>
    					<td>			
    					<a href="javascript:search()"  class="easyui-linkbutton" iconCls="icon-search">Search</a>
    					<a href="javascript:clearValue()" class="easyui-linkbutton" iconCls="icon-clear">Clear</a> 	
						</td>
                    </tr>	
				 </table>
			</div>
			<table id="con_list"></table>
	</form>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		
			 <div id="maintWindow"/> 
	</body>
<script type="text/javascript">
var store;
</script>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/post/toEmpPost.js"></script>
</html>