<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
		<form method="post"  target="hideFrame">
			<input type="hidden" id="ids" name="ids"/>
			<input type="hidden" id="roleId" name="roleId" value="$!{roleId}"/>		    
                <div region="center" class="easyui-panel" title="新增菜单">
				<tr>
				<td colspan="2" class="home_title_line">
				<table width="90%" border="0" cellpadding="0" cellspacing="1" >
    			<tr>
    			<td class="head" noWrap >
    				选择菜单
    			</td>
				<td class="even" noWrap>
				<select  id="menuIds" name="menuIds"  style="width:350px;" >
                </select>
				</td>
				
				<td class="even" noWrap>
				<a href="javascript:selectMenu4Role()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存新增菜单</a>
				</td>
                 </tr>
				</table>
				</td>
		    </tr>
			</div>
			<div class="easyui-panel" title="条件查询" >
			<table width="90%" border="0" cellpadding="0" cellspacing="1">
			<tr>
				<td class="head" noWrap>菜单编号:</td>
				<td><input class="easyui-numberbox" id="id" name="id"></td>
				<td class="head" noWrap>菜单名称:</td>
				<td><input class="easyui-validatebox" id="name" name="name"></td>
				<td class="head" noWrap>点击查询:</td>
				<td>			
				<a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search">Search</a>
				</td>
			</tr>
		    </table>
			</div>
			<table id="datagrid">  
			</table> 
			<div id="toolbar" class="datagrid-toolbar" >
		        <input id="ss" class="easyui-searchbox" searcher="searcher" prompt="请填写查询条件" menu="#mm" style="width:300px"></input>		
		       </div>
			</form>		
	 <iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
	 <!--维护菜单DIV-->
	  <div id="addMenu"/> 
	</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/menu/searchSelectedMenu4Role.js"></script>
</html>