<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
#CSSM(["easyui","style"])
#JSM(["jquery", "easyui"])
#JS_ENV_VAL()
<title>账号密码重置页面</title>
<style>
body{
	width:100%;
	height:100%;
	background-color:#f2f2f2;
	margin:0;
	padding:0;
	font-family:微软雅黑;
	font-size:12px;
}
div{
	margin:0;
	padding:0;
	width:100%;
}
.top{
	height:304px;
	border:0;
	background:url('$!{env.imgUrl}/images/login/login-top.png');
}
.middle{	
	border:0;
	background:url('$!{env.imgUrl}/images/login/login-middle.png') repeat-x;
	height:auto;
}
.bottom{
	height:206px;
	background:url('$!{env.imgUrl}/images/login/login-bottom.png');
	border:0;
	bottom:0;
	position:absolute;
	color:#484848;
	text-align:center;
}
.bottom div{
	margin-top:170px;
}
#loginArea{
	background:url('$!{env.imgUrl}/images/login/loginArea-bg.png');
	height:400px;
	z-index:2;
	width:715px;
	position:absolute;
}
.company{
	color:#ee9444;
	font-size:50px;
	font-family:'黑体';
	font-weight:bolder;
	margin-top:-60px;
}
.systemName{
	color:#3b76ac;
	font-size:20px;
	font-weight:bolder;
}
.en{
	color:#4383b5;
	font-size:14px;
	font-weight:normal;
}
ul{
	margin:0;
	padding:0;
}
ul li{
	list-style:none;
	float:left;
}
#logo{
	padding-left:55px;
	padding-top:113px;
}
#separate{
	padding-top:25px;
	padding-left:25px;
}
table{
	margin-top:30px;
}
td{
	color:#3b76ac;
	font-size:15px;
	text-align:right;
}
td input{
	width:175px;
	height:25px;
}
</style>
<script>
	$(document).ready(function(){
		initLayout();
		$(window).resize(function(){
			initLayout();
		});
	});
	function initLayout(){
		$("#loginArea").css({
			top:($(window).height()-400)/2+20,
			left:($(window).width()-715)/2+32
		});		
	}
</script>
</head>
<body>
	<form action="allUserAction1!sendTenderMail.jspa" method="post">
	<input type="hidden" id="mail" name="email" value="$!{email}"/>
	<div  class="top"></div>
	<div class="middle"></div>
	<div class="bottom">	
		<div>剑齿虎-Kintiger&nbsp;&nbsp;&nbsp;企业信息集成系统</div>	
	</div>
	<div id="loginArea">
		<div class="company"><span>EXP</span><span class="systemName"> 企业信息集成系统</span><span class="en"> The Better Way For Business</span></div>
		<ul>
		<li id="logo" >
			<img src="$!{env.imgUrl}/images/login/logo (2).png"/>
		</li>
		<li id="separate">
			<img src="$!{env.imgUrl}/images/login/separate.png"/>
		</li>
		<li id="loginForm">
			<div style="padding-left:15px;padding-top:45px;">
				<div><img src="$!{env.imgUrl}/images/login/key.png"><span style="padding-left:5px;color:#3b76ac;font-size: 16px;font-weight: bolder;">密码重置</span></div>
			</div>
			<form action="" method="post">
			<table>
				<tr>
					<td width=100>请输入新密码:</td>
					<td><input type="password" id="password" name="password" /></td>
					<td><span style="color:red;">请输入6位以上密码.</span></td>
				</tr>
				<tr>
					<td>请确认新密码:</td>
					<td><input type="password" id="suer_pass" name="suer_pass" /></td>
				</tr>
											
				<tr>
					<td>点击提交:</td>
					<td style="text-align:left;">
						<div onclick="save()" style="cursor:pointer;width:106px;height:36px;color:#3b76ac;font-size:14px;background-image:url('$!{env.imgUrl}/images/login/blue_btn.png');text-align:center;"><span style="margin-top: 10px;top: 5px;position: relative;">确定</span></div></td>
					<td></td>					
				</tr>					
			</table>
			</form>
		</li>
		</ul>
	</div>
	</form>
	<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/password/updatePassword.js"></script>
</html>